*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  body{
    min-height: 1000px;
    font-family: 'poppins',sans-serif;
  }
  html{scroll-behavior: smooth;}
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    top:0;
    position:fixed;
    left: 0;
    align-items: center;
    z-index: 1000;
    transition:0.6s;
    background-color: #fff;
    }
    .header.sticky{
      padding: 5px 100px;
      background:white;
      border-bottom: 1px solid (0,0,0,.1);
    }
    .header .logo{
      position: relative;
    }
    .header .logo img{
      width: 50%;
    }
    
    .header ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header ul li{
      position: relative;
      list-style: none;
    }
    .header ul li a{
      position: relative;
      margin: 0 15px;
      text-decoration: none;
      color: #000;
      letter-spacing: 2px;
      font-weight: 300;
      transition: 0.6s;
      font-weight: 500;
      font-size: 1.3em;
    }
    .header ul li:hover a{
      letter-spacing: 4px;
    }
    .header ul li::before{
      content: "";
      width: 0;
      height: 100%;
      top:0;
      left:0;
      background:rgb(255, 200, 0);
      position: absolute;
      transition: 0.5s;
      transform-origin: left;
    }
    .header ul li:hover:before{ 
      width: 100%;}
      .toggle{
        display: none;
      }
    
    .banner{
      position: relative;
      width: 100%;
      min-height: 100vh;}
    .swiper {
      width: 100%;
      height: 100%;
      position: absolute;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
      #about{
        position: relative;
        width: 100%;
        min-height: 100vh;
        background:#fff;
        display: flex;
        padding: 50px 100px;
      
      }
      #about .content{
        max-width: 65%;
        background-color: #d2a813;
        background-image: linear-gradient(315deg, #d2a813 0%, #f4a508 74%);;
        color: black ;
        padding: 40px;
        display: flex;
        align-items: center;
        margin-right: 30px;
      }
      #about .content .text h3{
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-bottom: 10px;
        font-size: 2em;
        }
        #about .content .text p{
          position: relative;
          font-weight: 300;
          font-size: 18px;}
          #about .logoBx{
            position: relative;
            width: 35%;
            background: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          #service{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100vh;
            background-color: black;
            width: 100%;
            padding: 50px;
          }
          #service .box{
            position: relative;
            width: 200px;
            height: 300px;
            margin: 10px;
            overflow: hidden;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          }
          #service .box h4{
            bottom: 30px;
            text-align: center;
            position: absolute;
            font-size: 1.2em;
          }
          #service .box .imgBx{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: #000;
          }
          
          #service .box .imgBx.active{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
          }
          #service .box .imgBx img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }
          #service .box .imgBx.active img{
            position: absolute;
            top: 50px;
            left: 50px;
            right: 50px;
            bottom: 50px;
            width:calc(100% - 100px);
            height: calc(100% - 100px);
            ;
          }
          #service .box .imgBx h2{
            opacity: 0;
            visibility: hidden;
          }
          #service .box .imgBx.active h2{
            opacity: 1;
            visibility: visible;
            text-align: center;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            margin-top: 15px;
            letter-spacing: 4px;
          }
          #service .box .imgBx .content{
            position: absolute;
            bottom: 50px;
            left: 50px;
            right:50px;
            opacity: 0;
            visibility: hidden;
            background:rgba(0,0,0,0.8);
            width:calc(100% - 100px);
            padding: 20px;
            color: #fff;
            transform: translateY(100%);
          }
          #service .box .imgBx.active .content{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 0.5s;
          }
          #project{
          width: 100%;
          min-height: 100vh;
          position: relative;
          padding: 50px ;
        background-color: #fff;}
  
          #project .projectBox{
            position: relative;
            flex-wrap: wrap;
            max-width: 100%;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          #project .projectBox .imgBox{
            position: relative;
            min-height: 300px;
            width: 250px;
            margin: 0 auto;
            background-color: transparent;
            perspective: 1000px;
            border-radius: 15px;
            margin: 20px;
            cursor: pointer;
          }
          .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            background:rgba(0,0,0,0.8);
            opacity: 0;
            top:0;
            transition: 1s;
            text-align: center;
          }
          .imgBox:hover .overlay{
            opacity: 1;
          }
          .imgBox .text{transition: 0.5s;
            width: 100%;
            position: absolute;
            bottom: 0;
            color:white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity:0;
            text-align: center;
          }
          .imgBox:hover .text{
            bottom: 40%;
            opacity: 1;
          }
          #project .projectBox .imgBox img{
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
          #project .title{
            color: black;
          }
          #contact { 
            position: relative;
            width: 100%;
            min-height: 100vh;
            background-color: #111;
            padding: 0px 50px;
          }
         .title{
            text-align: center;
            padding-top: 30px;
            color: #fff;
          }
          #contact .content {
            display: flex;
            justify-content: space-between;
            padding: 40px;
          }
          .formBx{
            min-width: 60%;;
          }
          .formBx form{
            display: flex;
            flex-direction: column;
          }
          .formBx form h3, .contactInfo h3{
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
          }
         
          .formBx  form input, .formBx  form textarea{
            margin-bottom: 20px;
            padding: 12px;
            font-size: 16px;
            color: #fff;
            border: none;
            outline: none;
            background: #222;
            resize: none;
          }
          .formBx  form textarea{
            min-height: 200px;
          }
          .formBx  form input::placeholder, .formBx  form textarea::placeholder{
            color: #999;
          }
        
         
          .formBx  form input[type='submit']{
            max-width: 200px;
            background-color:#f4a508;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2px;
            
          }
          .contactInfo{
            min-width: 40%;
          }
          .contactInfoBx{
            position: relative;
          }
          .contactInfoBx .box{
            position: relative;
            padding: 20px 0px;
            display: flex;
          }
          .contactInfoBx .box .icon{
            min-width: 40px;
            padding-top: 4px;
            color: #f4a508;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 24px;;
          }
          .contactInfoBx .box .txt{
            display: flex;
            margin-left: 20px;
            font-size: 16px;
            color: #fff;
            flex-direction: column;
            font-weight:300;;
          }
          .contactInfoBx .box .txt h3{
            font-weight: 500;
            color: #f4a508;
            margin-bottom: 0;
          } 
          .sci{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .sci ul{
            display: flex;
          }
          .sci ul li{
            list-style: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #f4a508;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            transition: 0.5s;
          }
          .sci ul li:hover{
            transform: translateY(-10px);
            background: #f4a508;
            border: 1px solid #fff;
          }
          .sci ul li:hover a{
            color: white;
          }
          
          .sci ul li a{
            text-decoration: none;
            display: inline-block;
           color: #f4a508;
           font-size: 25px;
          }
          
         .copyRight{
          background-color: #000;
          color: #fff;
          text-align: center;
          padding: 15px;;
         }
         
          @media (max-width:992px){
            .toggle{
              display: block;
              position: relative;
              width: 30px;
              height: 30px;
              cursor: pointer;;
            }
            .toggle::before{
              content: "";
              position: absolute;
              top: 4px;
              width: 100%;
              height: 2px;
              background: #000;
              z-index: 1;
              box-shadow: 0 10px 0 #000;
              transition: 0.5s;
            }
            .toggle::after{
              content: "";
              position: absolute;
              bottom: 4px;
              width: 100%;
              height: 2px;
              background: #000;
              z-index: 1;
              transition: 0.5s;
            }
            .header.active .toggle::before{
              top: 14px;
              transform: rotate(45deg);
              box-shadow: 0 0 0 #000;
            }
            .header.active .toggle::after{
              bottom: 14px;
              transform: rotate(-45deg);
            }
            .header{
              padding: 5px 50px;
              background: #fff;
            }
            .header ul{
              position: absolute;
              top: 0px;
              left: 0;
              width: 100%;
              height: 100vh;
              text-align: center;
              overflow: auto;
              visibility: hidden;
              opacity: 0;
              background: #fff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .header.active ul{
              visibility: visible;
              opacity: 1;
            }
            .header.active ul li a{
              display: inline-block;
              margin: 10px 0;
              font-size: 25px;
            }
            .header .logo, .header ul li a{
              color: #000;
            }
            #about{
              flex-direction: column;
              padding: 50px 5px;
            }
            
          .content{         
            flex-direction: column;
          }
          #about .logoBx{
            width: 100%;
            padding: 30px 0px;
          }
          #about .content{
            max-width: 100%;
            margin-right: 0;
          }
          .contactInfo{
            margin: 20px 0;}
            .formBx{
              min-width: 80%;;
            }
            #project,#serviece{
              padding: 30px;
            }
            #contact { 
              
              padding: 0px 20px;
            }
          }
         